div { 
    background-image: linear-gradient(#1D9CE5, #2FA4E7 60%, #1D9CE5);
   /* text-align: center;*/
  border-top-left-radius: 12px; border-top-right-radius: 12px;
    border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
}

.error {
  background:#f9cec7;
  text-color:#ed2020;
}
h1.header_top {
  color: #fff; 
  height: 30px;
  font-weight: normal;
  margin:0px;
  padding: 0px;
  padding-top: 0px;
  margin-left:auto;
  margin-right:auto;
}
  
.button {
    width: 60px;
    height: 20px;
    font-weight:bold;
    /* green to blue  gradient,top to bottom */
    background-image: linear-gradient(#1ed91e, #62e39f 40%, #e6f3fb);
    border-top-left-radius: 12px; border-top-right-radius: 12px;
    border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-top: 1px;
}
    
    
.search {
    width: 220px;
    height: 40px;
    margin-right: 25px;
    padding-top: 18px;
    margin-left:auto;
   
    
}

input { 
  background:#8bd3fd;
  border-color: #8bd3fd;
  border-top-left-radius: 6px; border-top-right-radius: 6px;
  border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;
}

img {
  float:left;
  margin-left:10px;
  max-height:40px;
  width:auto;
  margin-top:8px;
}
.navbar {
/*    blue-light blue -blue gradient */
    background-image: linear-gradient(#2FA4E7, #e6f3fb 50%,#2FA4E7);
    border-top-left-radius: 12px; border-top-right-radius: 12px;
    border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
    /* center navbar class */
    margin-left:auto;
    margin-right:auto;
    padding: 2px;
    
}

p, p.info,.shortlink {
    padding:3px;
    font-size: smaller;
    text-align:center;    
}

a {
  /* don't underline hyperlinks */
  text-decoration:none;
}



table {
  background: #ddd;
  border-spacing: 0;
}

.table_headline {
  width: 25%;
  margin-bottom: 5px;
  margin-top:1px;
  margin-left: 38%;
  font-weight: bold;
  /* green to blue  gradient,top to bottom */
  background-image: linear-gradient(#1ed91e, #62e39f 40%, #e6f3fb);
  border-top-left-radius: 12px; border-top-right-radius: 12px;
  border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
}
.block_table, .chain_table, .chain_navigation,.block_detail, .transaction_table, .wallet_info {
   width: 80%;
   border-width: 0px;
   margin-top:20px;
   margin-left:auto;
   margin-right: auto;
   /* Blue  gradient, going to near white at bottom */
   background-image: linear-gradient(#26acf9, #8bd3fd 50%, #e6f3fb);
   border-top-left-radius: 12px; border-top-right-radius: 12px;
   border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
}
  
td, th {
    font-family: Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 0 1ex;
}
th {
    padding-bottom: 5px;
    text-align: left;
}
td {
    border-width: 0px;
    border-style: solid;
}
td.last {
    padding-right: 20px;
}



